$color-primary: #00b09d;
$color-primary-light: #36beb0;
$color-primary-dark: #00786b;

$color-secondary: #ffca00;
$color-secondary-light: #ffd948;
$color-secondary-dark: #c19900;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
