@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header {
    width: 100vw;
    height: 10rem;
    padding: 0 10rem;

    position: fixed;
    top: 0;
    left: 0;
    // border: 1px lightgrey solid;
    z-index: 999;
    // background-color: v.$color-white;
    // border-bottom: 1px solid v.$color-grey-light-1;

    cursor: default;

    &__container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__title {
        font-size: 6rem;
        font-weight: 200;
        letter-spacing: 4.5px;
        color: v.$color-secondary;
        position: absolute;
        left: 0;
    }

    &__link {
        position: absolute;
        top: 50%;
        right: 5%;

        animation: fadeIn 1.5s;
    }
}
