@use '../abstracts/mixins' as m;

// SQUARE
.square {
    float: left;
    position: relative;
    width: 35%;
    padding-bottom: 35%; /* = width for a 1:1 aspect ratio */
    margin: 7.5%;
    // border: 1px solid black;
    // background-color: #1e1e1e;
    overflow: hidden;
    opacity: 1;

    @include m.respond(phone) {
        float: none;
        width: 100%;
        height: 100%;
        overflow: visible;
        margin: 0;
        padding-bottom: 150%;
    }

    &__content {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &__table {
        display: table;
        width: 100%;
        height: 100%;
    }

    &__table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    &__img {
        width: 100%;
        height: auto;

        transition: opacity 0.33s ease-out;

        &:hover,
        &:active {
            opacity: 0.7;
        }
    }
}
