@keyframes title {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }
    100% {
        opacity: 100;
        transform: translate(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 100;
        transform: translate(0);
    }
}
