@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include m.respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
    }

    @include m.respond(tab-port) {
        // width < 900?
        font-size: 50%; // if I want 1rem = 8px; 8/16 = 50%
    }

    @include m.respond(phone) {
        // width < 900?
        font-size: 43.75%; // if I want 1rem = 8px; 8/16 = 50%
    }

    @include m.respond(big-desktop) {
        font-size: 75%; // 1rem = 12px; 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem 0;

    position: relative;

    // hide scroll bar
    &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

::selection {
    background-color: v.$color-primary-light;
    color: v.$color-white;
}
