@use '../abstracts/variables' as v;

body {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: v.$color-grey-dark;
}

// about page
.stack {
    font-size: 10.4rem;
    font-weight: 800;
    letter-spacing: -0.5rem;
    line-height: 1;
}

.primary {
    &-fill {
        color: v.$color-primary;
    }

    &-stroke {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: v.$color-primary;
    }
}

.secondary {
    &-fill {
        color: v.$color-secondary;
    }

    &-stroke {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: v.$color-secondary;
    }
}

.footnote {
    margin-top: 5rem;
    font-size: 1.5rem;
    color: v.$color-grey-dark-2;
}

.heading-primary {
    font-size: 13rem;
    font-weight: 800;
    -webkit-text-stroke-width: 3px;
    line-height: 1;
    text-transform: uppercase;

    margin-bottom: 3rem;
    margin-left: -0.04em; // delete white space before first letter

    backface-visibility: hidden;
}

.heading-secondary {
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

    margin-bottom: 2rem;
}
