@use '../abstracts/variables' as v;

.u-margin-top-small {
    margin-top: 3rem !important;
}

.u-margin-top-medium {
    margin-top: 6rem !important;
}

.u-margin-top-large {
    margin-top: 10rem !important;
}

.u-margin-top-arrow {
    margin-top: 15rem !important;
}

.u-margin-top-huge {
    margin-top: 20rem !important;
}

.u-margin-bottom-tiny {
    margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 6rem !important;
}

.u-padding-left-medium {
    padding-left: 5rem !important;
}

.filter-grayscale {
    filter: grayscale(80%);
}

.primary-background {
    background-color: v.$color-primary;
}

.secondary-background {
    background-color: v.$color-secondary;
}
