@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.home {
    &__welcome {
        width: 100%;

        cursor: default;

        animation: fadeIn 3.5s ease-out;

        @include m.respond(tab-land) {
            overflow: hidden;
            margin-left: -3rem;
            width: 110%;
        }

        &--text {
            display: inline-block;
            margin: 0;
            padding: 0;
            text-align: left;

            font-weight: 900;
            -webkit-text-stroke-width: 3px;

            line-height: 0.65;
            text-transform: uppercase;

            @include m.respond(phone) {
                -webkit-text-stroke-width: 2px;
            }

            &--1 {
                font-size: 25rem;

                letter-spacing: -1.4rem;

                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto; // need to define document language;

                @include m.respond(tab-port) {
                    font-size: 22rem;
                    letter-spacing: -1.2rem;
                }
                @include m.respond(phone) {
                    font-size: 18rem;
                    letter-spacing: -1rem;
                }
            }

            &--2 {
                font-size: 30rem;
                letter-spacing: -1.3rem;

                @include m.respond(tab-port) {
                    font-size: 27rem;
                    letter-spacing: -0.8rem;
                }

                @include m.respond(phone) {
                    font-size: 23rem;
                    letter-spacing: -0.6rem;
                }
            }
        }
    }

    &__arrow {
        text-align: center;
        color: v.$color-tertiary;
        font-weight: 100;
        font-size: 5rem;

        cursor: default;

        opacity: 0;
        animation: fadeIn 2s 1.3s ease;
        animation-fill-mode: forwards;

        @include m.respond(tab-port) {
            font-size: 4rem;

            animation-delay: 1.5s;
        }
    }

    &__projects {
        width: 60%;
        margin: 0 auto;

        @include m.clearfix;

        @include m.respond(phone) {
            width: 50%;
        }
    }

    &__footnote {
        width: 60%;
        padding-left: 4.3%;
        margin: 0 auto;
    }
}
