@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.home {
    &__welcome {
        width: 100%;
        // margin: 0 auto;

        cursor: default;

        animation: fadeIn 3.5s ease-out;

        // text-align: center;

        &--text {
            display: inline-block;
            margin: 0;
            padding: 0;
            text-align: left;

            font-weight: 900;
            -webkit-text-stroke-width: 3px;

            line-height: 0.65;
            text-transform: uppercase;

            &--1 {
                font-size: 25rem;
                letter-spacing: -1.4rem;
            }

            &--2 {
                font-size: 30rem;
                letter-spacing: -1.3rem;
            }
        }
    }

    &__projects {
        width: 60%;
        margin: 0 auto;

        @include m.clearfix;
    }

    &__footnote {
        width: 60%;
        padding-left: 2.55%;
        margin: 0 auto;
    }
}
