@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.project {
    width: 80%;
    margin: 0 auto;
    // background-color: orangered;

    @include m.respond(phone) {
        width: 90%;
    }

    &__heading {
        margin-bottom: 10rem;

        &--title {
            animation: fadeIn 2.3s ease-out;
        }

        &--description {
            opacity: 0;
            animation: fadeIn 1.8s 1s ease-out;
            animation-fill-mode: forwards;
        }
    }

    &__video {
        width: 100%;
        // width: 100vw;
        // margin-left: -10vw; // cancel the margin of the parent
        height: auto;
        // overflow: hidden;

        margin-bottom: 6rem;

        opacity: 0;
        animation: fadeIn 2s 1.8s ease-out;
        animation-fill-mode: forwards;

        &--content {
            // width: 100%;
            width: 100vw;
            margin-left: -10vw;
            height: auto;
            object-fit: cover;

            @include m.respond(phone) {
                margin-left: -5vw;
            }
        }
    }

    &__description {
        margin-bottom: 20rem;
    }

    &__image {
        width: 100%;

        @include m.respond(phone) {
            width: 100vw;
            margin-left: -5vw;
        }

        &--main {
            margin-bottom: 6rem;

            opacity: 0;
            animation: fadeIn 2s 1.8s ease-out;
            animation-fill-mode: forwards;
        }
    }
}
